:root {
  --primary-color: #434455;
  --secondary-color: #2e2f42;
  --iris: #4d5ae5;
  --accent-color: #404bbf;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
}

body {
  color: var(--primary-color);
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

/* сброс стилей */
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  display: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.outline {
  outline: 2px solid black;
}

.outline-red {
  outline: 2px solid red;
}

/* header */

.main-nav {
  padding: 0 10px;
}

.logo-link {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--iris);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.second-part-logo {
  display: inherit;
  color: var(--secondary-color);
}

.menu-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.menu-link.current {
  color: var(--accent-color);
}

.contact-link {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  min-height: 24px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* index main */

.hero {
  background-color: var(--secondary-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.order-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  width: 169px;
  height: 56px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--iris);
  cursor: pointer;
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--accent-color);
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
}

.team {
  background-color: var(--cloud);
}

.team-list-item {
  background-color: #fff;
}

/* FOOTER */

.main-footer {
  background-color: var(--secondary-color);
}

.main-footer .second-part-logo {
  color: var(--cloud);
}

.slogan {
  color: var(--cornflower);
}

/* PORTFOLIO MAIN*/

.filter .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  cursor: pointer;
}

.filter .button:hover,
.filter .button:focus {
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
